.App {
  text-align: center;
}

.header {
  text-align: left;
  margin-left: 24px;
}

.image-container {
  height: 450px;
  overflow: hidden;
  position: relative; 
}

.main-image {
  object-fit: cover;
  width: 100vw;
  position:  absolute;
  bottom: 0;
  left: 0;
}

.special-banner {
  font-size: 32px;
  color: red;
}

.food-items {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
